body{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

.Banner{
    background: #2ba3d4 url(images/bg-header.png) center bottom no-repeat;
    background-attachment: fixed;
    min-height: 600px;
}
.Banner h1{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

.Banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;
  background: url(images/stars.png) no-repeat center bottom;
}

.BtnCta{
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

a.BtnCta{
    color: #1b93b7;
    background: #fff;
    border-bottom: 4px solid #1b93b7;
    text-decoration:none;
}

a:hover.BtnCta{
    color: #21afb9;
    background: #fff;
    border-bottom: 4px solid #1ebbc6;
}

section{
    padding: 50px 0 50px 0;
}

.mais{
    background: #3dc0f1;
}

.LeadMais{
    padding: 0 0 50px 0;
}

.Clientes{
    background: #000 url(images/clientes.png) no-repeat center;
}

.Sobre{
    background-color: #fff;
}

.Sobre p{
    font-size: 18px;
    color: #666;
    line-height: 26px;
    text-align: left;
}

.Sobre h1{
    color: #222;
    text-align: left;
    padding-top: 20px;
}

.MaisSobre{
    background-color: #3dc0f1;
}

.MaisSobre p{
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    padding-top: 20px;
}

.MaisSobre h1, .MaisSobre h2{
    color: #fff;
}

.MaisSobre h1, .Sobre h1, #footer h1{
    font-size: 60px;
}

.Rocket{
    margin-top: 50px;
}

.Bulb{
    margin-top: 20px;
}

article h1{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
}

article h2{
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Satisfy', cursive;
}

.boxe h2{
    color: #fff;
}

h1, h2 {
    font-size: 70px;
    color: #2ba6cb;
    font-weight: 700;
    line-height: 70px;
}

p.Servicos{
    font-weight: 100;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

.CtaContato{
    background-color: #2ba3d4;
}

.CtaContent{
    background: url(images/arrow.png) 250px 40px no-repeat;
}

.CtaContato p{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

#footer{
    background: #222    ;
    padding: 50px 0 50px 0;
}

#footer h1, #footer h2{
    color: #fff;
}

#footer p{
    color: #fff;
}

.LogoFooter{
    width: 381px;
    height: 51px;
    background: url(images/logo-footer.png) center no-repeat;
    text-align: center;
    display: inline-block;
}

.SocialFooterTwitter{
    margin-bottom: 20px;
}

.SocialFooterFacebook{
    background-color: rgba(255, 255, 255, 0.19);
}
