body{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

.text-center{
	text-align: center;
}
.center{
	margin: 0 auto;
}

.container{
    width: 1174px;
}

.Banner{
    background: #33c9d3;
    background-attachment: fixed;
    background-size: cover;
    min-height: 400px;
}

.Banner h1{    
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 100px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.Banner h2{
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  background: url(images/stars.png) no-repeat center bottom;
}

.BtnCta{
  display: inline-block;
  min-height: 80px;
  line-height: 80px;    
  width: 400px;
  font-size: 20px;    
  text-transform: uppercase;
  border-radius: 0; 
}

a.BtnCta{
    color: #33c9d3;
    background: #fff;
    border-bottom: 4px solid #21afb9;
    text-decoration:none;
}

a:hover.BtnCta{
    color: #fff;
    background: #21afb9;
    border-bottom: 4px solid #1ebbc6;
}

section{
    padding: 50px 0 50px 0;
}

.mais{
    background: #fff;
}

.LeadMais{
    padding: 0 0 50px 0;
}

.Clientes{
    background: #FAAC53 url(images/clientes.png) no-repeat center;
}

.Oque{
    background-color: #FDC053;
}

article h1{
    font-size: 56px;
    color: #363636;
    font-weight: 700;
    line-height: 60px;
    margin: 20px 0 20px 0;
}

article h2{
    font-size: 24px;
    color: #363636;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Satisfy', cursive;
}

.Branco h1, .Branco h2{
    color: #fff;
}

.Oque p{
    font-size: 18px;
    color: #fff;
    line-height: 22px;
}

h2 {
    font-size: 70px;
    color: #fff;
    font-weight: 700; 
    line-height: 70px;
}

p.Servicos{
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    line-height: 25px;
    color: #fff;
    color: #fff;
}

.span4.boxe{
    width: 370px;
}

.Giz{
    min-height: 400px; 
    background-attachment: fixed;
    background-size: cover;
    background: url(images/bg-giz.jpg);
}

.Giz p{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.Giz h1, .Oque h1, #footer h1{
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#footer{
    min-height: 400px;
    background-color: #5B52A2;
    padding: 50px 0 50px 0;
}

#footer p{
    color: #fff;
}

.LogoFooter{
    width: 175px;
    height: 60px;
    background: url(images/logo-footer.png) center no-repeat;
    text-align: center;
    padding: 50px 0 50px 0;
    display: inline-block;
}

.CtaContent{
    background: rgba(255, 255, 255, 0.19) url(images/arrow.png) 150px 50px no-repeat;
    width: 900px;
    min-height: 100px;
    display: inline-block;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #27b899;
}

.SocialFooterTwitter{
    margin-bottom: 20px;
}

.SocialFooterFacebook{
    background-color: rgba(255, 255, 255, 0.19);
    width: 520px;
    padding: 10px;
    display: inline-block;
}